@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.in-text{
    font-size: 30px;
    padding-left: 16px;
}
.inh{
    font-size: 25px;
}
.inp{
    font-size: 15px;
    
    
}
.button{
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(rgb(97, 25, 231), rgb(77, 17, 7));
    border-radius: 5px;
    padding: 4px 10px;
    color: white;
    font-weight: 700;
    
}
.picture img{
    width: 200%;
    margin-left: 120px;
}
.influence-container{
    display: flex;
    margin: 1em;
}
.influence-container{
    width: 60%;
    
    
}
.picture{
    width: 40%;
    margin-top: 1em;
    padding-left: 2em;
    
}
.pc{
    font-size: 40px;
    text-align: center;
}
.s2-pictures img{
    height: 120px;
    width: 90%;
    margin-top: 5px;
    
}
.bl-camera{
    font-size: 4px;
}
.bl-camera-p{
    color: dimgray;
    font-size: 7px;
    font-weight: 800;
}
.fa-star.filed{
    color: goldenrod;
    font-size: 5px;
}
.fa-star.empty{
    color: grey;
    font-size: 5px;
}
.s2-picture{
    width: 350px;
    height:200px;
    border: 1px solid rgb(231, 212, 212);
    padding-left: 5px;
    border-radius: 3px;
    background-color: whitesmoke;
}
#span{
    font-size: 4px;
}
.sec-2-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;

}
.seemore{
    color: rgb(97, 25, 231);
    font-size: 4px;
    text-align: right;
    padding-right: 10px;
}
.footer{
    background-color:rgb(97, 25, 231) ;
    height: 60px;
    color: white;
}
    .f-text{
        padding-top: 8px;
        font-size: 4px;
        text-align: center;
        height: 1px;
        
    }
      .f-p{
    
        font-size: 3px;
        text-align: center;
        padding-bottom: 9px;
        height: 0px;
        
    }
    .fa-instagram-square{
        font-size: 5px;
        padding-left: 100px;
        
    }
    .fa-youtube{
        font-size: 5px;
    }
    .fa-linkedin-in{
        font-size: 5px;
    }
    .fa-facebook-f{
        font-size: 5px;

    }
    .f-container{
        height: 9px;
    }
    .populer-text{
        font-size: 15px;
        text-align: center;
        backgound-color: rgb(245, 245, 245);
        width: 100px;
        margin-left: 75px;
        margin-bottom: 5px;
        transition: 2s;
    }
    .p-img{
        height: 50px;
        width: 70px;
    }
    .p-picture{
        border: 1px solid rgb(238, 231, 231);
        border-radius: 5px;
        text-align: center;
        padding-top: 5px;
        background-color: whitesmoke;
    }
    .populer-continer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 3px;
    }
    .populer-text:hover{
        font-size: 8px;
    }
   
    @media only screen and (max-width:200px) {
        .influence-container {
            display: grid;
            grid-template-columns: repeat(1,1fr);

        }
        .sec-2-container{

            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .populer-continer{
            grid-template-columns: repeat(1,1fr);

        }
        .footer{
            width: 80px;
            align-items: center;
        }
        .populer-text{
            margin-left: 0px;
        }
        .fa-instagram-square{
            margin-left: 1px;
        }
       .seemore{
           font-size: 20px;
       }
    }
    
    
    
    
