@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.in-text{
    font-size: 4px;
}
.inh{
    font-size: 10px;
}
.inp{
    font-size: 4px;
    margin-top: 0%;
    
}
.button{
    font-size: 4px;
    text-decoration: none;
    background-image: linear-gradient(rgb(97, 25, 231), rgb(77, 17, 7));
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-weight: 700;
}
.picture img{
    width: 150%;
    padding-left: 30px;
}
.influence-container{
    display: flex;
    margin: 1em;
}
.influence-container{
    width: 60%;
    
    
}
.picture{
    width: 40%;
    margin-top: 1em;
    padding-left: 2em;
    
}